<template>
    <router-link
        :to="link"
        class="transition-colors duration-100 ease-in-out md:w-full cursor-pointer px-2 py-2"
    >
        <li class="inline-flex flex-row justify-center items-center">
            <span v-html="icon"></span>
            <span class="hidden md:inline-block ml-2">{{ text }}</span>
        </li>
    </router-link>
</template>

<script>
import { useRoute } from "vue-router";

export default {
    name: "NavItem",
    props: {
        link: {
            type: String,
            required: true,
        },
        text: {
            type: String,
            required: true,
        },
        icon: {
            type: String,
            required: true,
        },
    },
    setup() {
        const route = useRoute();

        return {
            route,
        };
    },
};
</script>

<style scoped>
.router-link-active {
    @apply bg-nord13 dark:bg-nord15 rounded shadow font-bold text-nord0 dark:text-nord0 tracking-wide md:pl-4;
}
</style>
