<template>
  <div class="flex-col">
    <label :for="settingName" class="block font-semibold mb-1.5 text-lg">{{ labelText }}</label>
    <textarea :id="settingName" :placeholder="defaultValue" :value="(actualValue) ? actualValue : ''" class="block p-1 w-full h-32 resize-none rounded shadow bg-nord5 dark:bg-nord0 focus:outline-none focus:ring-4 focus:ring-nord10"></textarea>
  </div>
</template>

<script>
export default {
  name: "SettingItemTextArea",
  props: {
    labelText: {
      type: String,
      required: true
    },
    settingName: {
      type: String,
      required: true
    },
    defaultValue: {
      type: String
    },
    actualValue: {
      type: String
    }
  }
}
</script>

<style scoped>

</style>