<template>
  <div class="flex items-center select-none">
    <label :for="settingName" class="text-lg font-semibold">{{ labelText }}</label>
    <div class="w-5 h-5 flex flex-shrink-0 justify-center items-center ml-2 rounded shadow bg-nord5 dark:bg-nord0 focus-within:ring-4 focus-within:ring-nord10">
      <input type="checkbox" :id="settingName" :checked="actualValue" class="opacity-0 absolute">
      <svg class="fill-current hidden w-4 h-4 text-nord14 pointer-events-none" viewBox="0 0 20 20"><path d="M0 11l2-2 5 5L18 3l2 2L7 18z"/></svg>
    </div>
  </div>
</template>

<script>
export default {
  name: "SettingItemBool",
  props: {
    labelText: {
      type: String,
      required: true
    },
    settingName: {
      type: String,
      required: true
    },
    defaultValue: {
      type: Boolean
    },
    actualValue: {
      type: Boolean
    }
  }
}
</script>

<style scoped>
  input:checked + svg {
    display: block;
  }
</style>