<template>
  <div :class="{ 'dark' : darkMode }">
    <!--<div id="app" class="transition-colors duration-100 ease-in-out bg-nord5 dark:bg-nord0 h-screen text-nord1 dark:text-nord4 grid grid-cols3 grid-cols-6 xl:grid-cols-8">
      <NavBar />
      <router-view class="col-span-5 xl:col-span-7 px-6 py-4 md:px-12 md:py-6 min-h-screen"/>
      <NotificationsList/>
    </div>-->
    <div id="app" class="transition-colors duration-100 ease-in-out bg-nord5 dark:bg-nord0 min-hh-screen text-nord1 dark:text-nord4 flex">
      <NavBar class="flex-none fixed md:w-48"/>
      <router-view class="page-margin flex-1 px-6 py-4 md:px-12 md:py-6 min-h-screen"/>
      <NotificationsList/>
    </div>
  </div>
</template>

<script>
import "tailwindcss/tailwind.css"
import { computed } from 'vue';
import { useStore } from 'vuex';
import NavBar from "@/components/NavBar";
import NotificationsList from "@/components/NotificationsList";

export default {
  name: 'App',
  components: {
    NavBar,
    NotificationsList
  },
  setup() {
    const store = useStore()
    const darkMode = computed(() => store.state.darkMode)

    return {
      darkMode
    }
  }
}
</script>

<style scoped>
.page-margin {
  margin-left: 64px;
}

@media (min-width: 768px) {
  .page-margin {
    margin-left: 192px;
  }
}
</style>
