<template>
  <div class="console flex flex-col items-center">
    <h1 class="text-2xl md:text-4xl mb-8 font-bold tracking-wide">Console</h1>
    <div ref="console_output" v-html="console_stream" id="console_output" class="transition-colors duration-100 ease-in-out mb-8 p-2 rounded shadow-inner h-48 md:h-64 overflow-auto bg-nord4 dark:bg-nord2 w-full xl:w-1/2">

    </div>
    <div class="flex flex-wrap justify-evenly w-full text-nord0 xl:w-1/2">
      <div class="mr-2 mb-2">
        <button @click="startServer" class="console-btn bg-nord14">Start</button>
      </div>
      <div class="mr-2 mb-2 relative">
          <div class="bg-nord3 text-nord4 shadow w-full text-xs text-center rounded py-3 px-4 -mt-16 absolute" :class="(state.stopClicked) ? 'block' : 'hidden'">
            Double click to stop the server
            <svg class="absolute shadow text-nord3 h-2 w-full left-0 top-full" x="0px" y="0px" viewBox="0 0 255 255" xml:space="preserve"><polygon class="fill-current" points="0,0 127.5,127.5 255,0"/></svg>
          </div>
        <button @click="stopDoubleClick" class="console-btn bg-nord11 stop-btn">Stop</button>
      </div>
      <div class="mr-2 mb-2">
        <button @click="restartServer" class="console-btn bg-nord12">Restart</button>
      </div>
    </div>
  </div>
</template>

<script>
import { computed, onUpdated, onMounted, ref, reactive } from 'vue';
import { useStore } from 'vuex';
export default {
  name: "Console",
  setup() {
    const store = useStore()
    const console_stream = computed(() => store.state.consoleStream.console_stream)
    const console_output = ref(null)
    const state = reactive({
      stopClicked: false
    })

    function stopDoubleClick() {
      if (state.stopClicked) {
        stopServer()
        state.stopClicked = false
      } else {
        state.stopClicked = true
      }
    }

    function scrollToBottom() {
      let container = console_output.value
      container.scrollTop = container.scrollHeight
    }

    function startServer() {
      store.dispatch('serverAPI/startServer')
    }

    function stopServer() {
      store.dispatch('serverAPI/stopServer')
    }

    function restartServer() {
      stopServer()
      setTimeout(() => { startServer() }, 1000)
    }

    onMounted(() => {
      scrollToBottom()
      window.addEventListener('mousedown', (evt) => {
        if(state.stopClicked && !evt.target.closest('.stop-btn'))
          state.stopClicked = false
      })
      window.addEventListener('touchstart', (evt) => {
        if(state.stopClicked && !evt.target.closest('.stop-btn'))
          state.stopClicked = false
      })
    })

    onUpdated(() => {
      scrollToBottom()
    })

    return {
      console_stream,
      console_output,
      startServer,
      stopServer,
      restartServer,
      stopDoubleClick,
      state
    }
  }
}
</script>

<style scoped>

.console-btn {
  @apply py-3 w-32 rounded shadow font-bold uppercase focus:outline-none;
}

</style>